

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin-top: 80px;
}
.home-button-img {
  width: 80px;
  position: fixed;
  top: 0px;
}

h1, h2 {
  background-color: blanchedalmond;
}