/* 4a Exercise */
/* .no-button {
  color: white;
  background-color: rgb(25, 135, 84);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
} */
/* ------------------------- */

/* 4b Exercise */
/* .is-button-on {
  color: white;
  background-color: rgb(25, 135, 84);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
} */
/* ------------------------- */

/* 4c Exercise */
/* .is-button-on, .is-button-off{
  color: white;
  background-color: rgb(25, 135, 84);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.is-button-off {
  background-color: rgb(220, 53, 69);
} */
/* ------------------------- */

/* 4d Exercise */
/* p {
    font-weight:500;
    font-family: Arial, Helvetica, sans-serif;
  }

  input {
    padding: 6px 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 1px;
  }

  button {
    color: white;
    padding: 8px 12px;
    margin-top: 8px;
    margin-right: 5px;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
/* ------------------------- */

/* 4e Exercise */
/* p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 6px 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  border-width: 1px;
}

.sign-up-button,
.login-button {
  color: white;
  padding: 8px 12px;
  margin-top: 8px;
  margin-right: 5px;
  background-color: rgb(0, 123, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pass-container {
  display: flex;
  gap: 6px;
}

.show-password-button {
  border: none;
  background-color:white;
  margin: 0;
  padding-bottom: 6px;
}

img {
  width: 20px;
}
 */


/* ------------------------- */

/* 4f Exercise */
p {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 6px 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  border-width: 1px;
}

.sign-up-button,
.login-button {
  color: white;
  padding: 8px 12px;
  margin-top: 8px;
  margin-right: 5px;
  background-color: rgb(0, 123, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pass-container {
  display: flex;
  gap: 6px;
}

.show-password-button {
  border: none;
  background-color:white;

}

img {
  width: 20px;
}
/* ------------------------- */

/* 4g Exercise */
/* ------------------------- */

/* 4h Exercise */
/* ------------------------- */

/* 4i Exercise */
/* ------------------------- */

/* 4j Exercise */
/* ------------------------- */

/* 4k Exercise */
/* ------------------------- */

/* 4l Exercise */
/* ------------------------- */
