

/* 4a Exercise */
.no-button {
  color: white;
  background-color: rgb(25, 135, 84);
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}
/* ------------------------- */


/* 4b Exercise */
/* ------------------------- */


 /* 4c Exercise */
/* ------------------------- */


 /* 4d Exercise */
/* ------------------------- */


 /* 4e Exercise */
/* ------------------------- */


 /* 4f Exercise */
/* ------------------------- */


 /* 4g Exercise */
/* ------------------------- */


 /* 4h Exercise */
/* ------------------------- */


 /* 4i Exercise */
/* ------------------------- */


 /* 4j Exercise */
/* ------------------------- */


 /* 4k Exercise */
/* ------------------------- */


 /* 4l Exercise */
/* ------------------------- */
