html {
  padding-bottom: 5000px;
}
body {
  margin: 0;
  padding: 0;
}
/* .product1,
.product2 {
  background-color: rgb(255 0 0);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100px;
}
.product1 {
  background-color: blueviolet;
  position: relative;
}
.product1::after {
  content: "";
  position: absolute;
  right: -19.5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent red;
} */
div::before {
  content: attr(lkjsdaf);
  display: none;
}
div:hover::before {
  display: block;
  position: relative;
}
ul {
  list-style: none;
  position: relative;
}
li {
  margin-bottom: 10px;
}
ul li::before {
  content: "";
  position: absolute;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent red;
}

.box {
  background-color: aqua;
  border: 100px;
  width: 600px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
}
.one {
  float: left;
  width: 300px;
  background-color: antiquewhite;
  border: 5px solid red;
  padding: 20px;
  box-sizing: border-box;
}
.try1 {
  background-color: blue;
  visibility: collapse;
}
.try2 {
  background-color: brown;
}
.try1,
.try2 {
  padding: 100px;
}
table {
  border: 2px solid red;
  min-width: 400px;
  max-width: 800px;
  position: static;
}
td,
th {
  border: 2px solid red;
}
.container {
  border: 1px solid gray;
  max-width: 460px;
}
.item {
  background-color: #8ca0ff;
  /* text-shadow: 3px 3px 5px red; */
  text-indent: 30px;
  white-space: nowrap;
  width: 100%;
}
.link {
  background-color: #8ca0ff;
  width: 100%;
  overflow: hidden;
  font-size: 0.5rem;
}
.parent {
  padding: 10px;
  background-color: red;
  width: 400px;
  overflow: hidden;
}

.clear {
  clear:both;
}
.product2 {
  left: 50px;
}
.shit {
  border: solid red 2px;
  width: 100px;
  background-color: aqua;
  /* border-radius: 10px 2px 30px 0px; */
  /* border-top-left-radius: 20px; */
  /* box-shadow: 10px 10px 15px 2px red ; */
  height: 100px;
  outline:20px solid orange;
  box-sizing: border-box;
}
.flex {
  width: 500px;
  background-color: aqua;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.products {
  padding: 10px 0;
  background-color: rgb(251, 255, 127);
  text-align: center;
  width: calc(98% / 3);
}
