* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
div {
  height: 100px;
  margin: 20px;
  padding: 50px 60px;
  line-height: 0px;
  background-color: #eee;
  display: inline-block;
  outline: solid 5px black;
}
.assign-2-shape-1 {
  border: solid 5px red;
}
.assign-2-shape-2 {
  border: 5px solid;
  border-color: blue green;
}

.assign-2-shape-3 {
  border: 5px dashed;
  border-color: red green blue yellow;
}
